# パッケージ名とバージョンのみを記載します
firebase_functions~=0.1.0
firebase_admin
flask
flask_cors
# httpをrequestsと仮定して記載 (もしrequestsが必要なら)
# もし http という別パッケージを意図しているならそのまま
requests # もし requests が必要なら追加
# langchain系のパッケージをまとめて記載
langchain
langchain_community
langchain_openai